$red:#e3000b;
$blue: #0055bf;
$yellow: #ffed00; 



.smallimg{
    height: 100px;
    width: auto;
}
.flex{
    display: flex;
}

a{
    margin: 2% 0%;
}

table{
    color: $blue;
    width:99%;
}
td, th{
    width:25%;
    text-align: center;
    // border: 1px solid black;
    
}

a{
    text-decoration: none;
    color: #0055bf;
}

h3{
    color: $blue;
}

.fa{
    size: 1cm;
}
button{
    margin-right:2px;
}


::ng-deep {
    .select2.select2-container.select2-container--default {
        height: 37.97px;
        .select2-selection.select2-selection--single {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
}