$red:#e3000b;
$blue: #0055bf;
$yellow: #ffed00; 



.smallimg{
    height: 100px;
    width: auto;
}
.flex{
    display: flex;
}

a{
    margin: 2% 0%;
}

table{
    color: $blue;
}

h3{
    color: $blue;
    text-decoration: underline;
    text-decoration-color: #e3000b;
}

.fa{
    size: 1cm;
}