<div class="chapter">
    <h3>Les sets</h3>
    <div>
        <form class='row row-cols-lg-auto g-3 align-items-center'[formGroup]="fg" (ngSubmit)="submit()">
            
                <div class="col-12">
                    <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                    <input class="form-control" id="search" type="text" placeholder="Recherche textuelle" formControlName="search">
                </div>
                </div>


                <div class="col-12">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Statut</span>
                    
                    <select class="form-select" id="status" type="text" formControlName="status">
                        <option  [value]="null"> - </option>
                        <option  [value]="1">Sold</option>
                        <option  [value]="2">Sealed</option>
                        <option  [value]="3">Built</option>
                        <option  [value]="4">Pending</option>
                    </select>
                </div>
            </div>
            <div class="col-12">
                <div class="input-group mb-3">
                    <span class="input-group-text">Thème</span>
                    <ng-select2 width="200px" [data]="getSelectOptions()" [placeholder]="'Sélectionner un thème'" formControlName="theme"></ng-select2>
                </div>
                
            </div>
            <div class="col-12">
                <div class="input-group mb-3">
                    <button class="btn btn-primary">Filtrer</button>

                </div>
            </div>    
            <div class="col-12">
                <div class="input-group mb-3">
                     <button class="btn btn-success" (click)="clearFilters()">Réinitialiser</button>
                </div>
                
            </div>
                <!-- <button>supprimer tous les filtres</button> -->
        </form>
        <!-- <a class="btn btn-primary" routerLink="/create-set">Ajouter un set</a> -->
    </div>
    <div class="flex">
        <table class="table  table-hover">
            <thead>
                <th scope="col">Num</th>
                <th scope="col">Nom</th>
                <th scope="col">Thème</th>
                <th scope="col">Image</th>

            </thead>
            <tbody>
                <tr scope="row" *ngFor="let set of setList">
                <td><a routerLink="../update-set/{{set.id}}">{{set.set_num}}</a></td>
                <td><a routerLink="../update-set/{{set.id}}">{{set.name}}</a></td>
                <td><a routerLink="../update-set/{{set.id}}">{{set.theme?.name}}</a></td>
                <td><a routerLink="../update-set/{{set.id}}"><img class="smallimg"[src]="set.set_img_url"></a></td>

            </tr>
               
            </tbody>
    
        </table>
    
    
    </div>
    
    </div>

