<p>create-set works!</p>


<input class="form-control" id="setNum" type="text" [(ngModel)]="setNum" placeholder="numéro du set">
<button type="button" [disabled]="setNum=='' || setNum==null"  (click)="importRequest()">Importer</button>


{{newSet | json}}

<div class="row">
    <div>
      <ul>
        <li>{{newSet.set_num}}</li>
        <li>{{newSet.name}}</li>
        <li>{{newSet.year}}</li>
        <li>{{newSet.theme_id}}</li>
        <li>
            <img class="miniimg"[src]="newSet.set_img_url" alt="">
        </li>
        <li>{{newSet.set_url}}</li>
        
      </ul>

    </div>
  


