$red:#e3000b;
$blue: #0055bf;
$yellow: #ffed00;

.flex{
    display: flex;
    flex-direction: row;
    border: 1px, solid black;

    
}

nav{
    width:300px;
    border-right: 4px solid $red;
    padding : 2%;
    height : 100vh;

}

main{
    flex-grow: 1;
    margin : 2%;
    height: 100vh;

}

header{
    text-align: center;
    border-bottom: 4px solid $blue;
}
h1{
    margin: 2%;
}