$red:#e3000b;
$blue: #0055bf;
$yellow: #ffed00;
$green: #007B28;

.smallimg{
    height: 100px;
    width: auto;
    
}


h3{
color: $blue;
}

label{
    color:$blue;
    font-weight: bold;
}

#name{
    font-weight: bold;
    font-size: larger;
    color: $blue;
    
}
#set_url{
    text-align: center;
    border: none;
 
}
.detail2{
    padding-bottom: 2%;
}