<form [formGroup]="setForm" (ngSubmit)="updateSet()">

    <div class="row">
        <div class="col-2">       
            <a class="form-control" id="set_url" type="text" [href]="setForm.get('set_url')?.value" target="_blank">   <img readonly class="smallimg" [src]="setForm.get('set_img_url')?.value"></a>
           </div>
        <div class="col-10">
            
            <div>
                <input readonly class="form-control-plaintext" type="string" [value]="set.theme.name">
            </div>
            <div *ngIf="set?.theme?.parent_id">
                <input readonly class="form-control-plaintext" type="string" [value]="set.theme.parent.name">
            </div>
            <div>
                <input type="text" readonly class="form-control-plaintext"  id="set_num" formControlName="set_num" >
            </div>
            <div>
            <input readonly class="form-control-plaintext" id="name" type="text" formControlName="name">
           </div>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label for="year">Année</label>
            <input readonly class="form-control" id="year" type="text" formControlName="year">
        </div>
        <div class="col-2">
            <label for="lego_price">Prix Légo</label>
            <input class="form-control" id="lego_price" type="number" formControlName="lego_price">
        </div>
    </div>    
    <div class="row mt-4">
        <h3>Achat</h3>
   
        <div class="col-2">
        <label for="buy_date">Date</label>
        <input class="form-control" id="buy_date" type="date" formControlName="buy_date">
    </div>
   
    <div class="col-2">
        <label for="buy_loc">Vendeur</label>
        <input class="form-control" id="buy_loc" type="text" formControlName="buy_loc">
    </div>

    <div class="col-2">
        <label for="buy_price">Prix</label>
        <input class="form-control" id="buy_price" type="number" formControlName="buy_price">
    </div>

</div>
    <div class="col-2">
        <label for="status">Status</label>
        <select class="form-select" id="status" type="text" formControlName="status">
            <option *ngFor="let state of status" value="{{state.id}}">{{state.name}}</option>
         </select>   
    </div>
    <div  *ngIf="setForm.get('status')?.value==1" class="row mt-4">
        <h3>Vente</h3>
    <div class="col-2">
        <label for="sale_date">Date</label>
        <input class="form-control" id="sale_date" type="date" formControlName="sale_date">
    </div>
    <div class="col-2">
        <label for="sale_price">Prix</label>
        <input class="form-control" id="sale_price" type="number" formControlName="sale_price">
    </div>
</div>


    <input class="btn btn-primary mt-4" type="submit" value="Modifier le set">

</form>
