<div class="chapter">
    <h3>Collection - Sets</h3>
    <div class="flex">
        <table class="table table-striped table-hover">
            <thead>
                <th scope="col">Num</th>
                <th scope="col">Nom</th>
                <th scope="col">Thème</th>
                <th scope="col">Image</th>
                <th scope="col">Action</th>
    
            </thead>
            <tbody>
                <tr scope="row" *ngFor="let set of setList">
                <td>{{set.set_num}}</td>
                <td>{{set.name}}</td>
                <td>{{set.theme_id}}</td>
                <td><img class="smallimg"[src]="set.set_img_url"></td>
                <td><a routerLink=""><i class="fa-solid fa-file-lines"></i></a></td>
            </tr>
               
            </tbody>
    
        </table>
    
    
    </div>
    
    </div>
