
$red:#e3000b;
$blue: #0055bf;
$yellow: #ffed00;


h1{
  color: #0055bf;
  padding-bottom: 25px;
}

p{
  margin-left: 30px;
  color: #0055bf;
  font-size:large;
  padding-bottom: 25px;


}

.count{
  display:flex;
  flex-direction: column;
  justify-items: center;


  align-items: center;
}

