<div class="count">

    <h1>Sets <span class="badge round-pill bg-primary">{{count?.total}}</span></h1>
    <p>Scellés <span class="badge round-pill bg-primary">{{count?.totalSealed}}</span></p>
    <p>Assemblés <span class="badge round-pill bg-primary">{{count?.totalBuilt}}</span></p>
    <p>A assembler <span class="badge round-pill bg-primary">{{count?.totalPending}}</span></p>
    <p>Vendus <span class="badge round-pill bg-primary">{{count?.totalSold}}</span></p>

</div>



<!-- <table >

   <tr>
     <th scope="row">Sets</th>
     <td><span class="badge round-pill bg-primary">{{count?.total}}</span></td>
   </tr>
   <tr>
    <th scope="row">Scellés</th>
    <td>{{count?.totalSealed}}</td>
  </tr>
  <tr>
    <th scope="row">Assemblés</th>
    <td>{{count?.totalBuilt}}</td>
  </tr>
  <tr>
    <th scope="row">A assembler</th>
    <td>{{count?.totalPending}}</td>
  </tr>
  <tr>
    <th scope="row">Vendus</th>
    <td>{{count?.totalSold}}</td>
  </tr>

</table> -->

